$color_primary: rgb(244, 230, 0);
$color_secondary: rgb(217, 177, 77);
$text_primary: rgb(83, 87, 85);
$gold_theme: url('../themes/theme-gold.jpg');
$dark_gold_theme: url('../themes/theme-dark-gold.jpg');
$main_theme: url('../themes/theme-main.jpg');